.section__contact {
  padding: 30px;
  background: url("../assets/images/contact/contact_background.jpg") center;
  background-size: cover;
  width: 100%;

  & .button-dark {
    border: none;
  }
}

.section__contact__title {
  color: white;
  margin-bottom: 20px;
  line-height: 1.4em;
}

.section__contact__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .button-dark {
    margin: 0;
  }

  @include bp-medium {
    flex-wrap: nowrap;
  }
}


.section__contact__input {
  height: 38px;
  background: transparent;
  color: white;
  font-size: 0.7em;
  padding: 0 0 0 40px;
  width: 100%;
  border: 1px white solid;
  margin: 10px 0;

  &:focus {
    outline: none;
  }

  @include bp-medium {
    margin-right: 100px;

  }
}

