// Colors
$color-white: #fff;
$color-black: #000;
$color-light-grey: #ccc;
$color-details-brown: #333333;

// Text
$color-bg: $color-white;
$color-text: $color-black;
$color-logo-red: #cd2b2d;

// Links
$color-link: $color-text;

// Borders
$color-border: $color-light-grey;
